{% extends 'public/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Contact</h1>
        <hr>
        <p> 22078 이준석 </p>
        <p><i class="fas fa-phone"></i> 010-3511-4512 <br>
            <i class="fas fa-envelope"></i> <a href="mailto:gs22078@gs.hs.kr"> gs22078@gs.hs.kr </a> <br>
            <i class="fa-brands fa-github"></i> <a href="https://github.com/gs22078"> gs22078 </a> <br>
            <i class="fas fa-school"></i> Gyeonggi Science High School for the Gifted </p>
    </div>
{% endblock %}