{% extends 'public/base.html' %}

{% block title %}Home - TeXperT{% endblock %}
{% block content %}
    <div class="text-center">
    <h1 class="mt-5">GSHS TeXperT</h1>
    <p class="lead">Welcome to the home page!</p>

    <p> GSHS TeXperT Website is still under construction. I am working hard to add more contents and features.</p>
    <p> If you have any questions, requests, or suggestions, please <a href="{% url 'home:contact' %}">contact me</a>.</p>
    <p> Thank you for visiting my website.</p>
    </div>
{% endblock %}