{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>TeXperT Templates</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container">
    <h1>Downloads</h1>
    <div class="row">
        {% for repo in repos %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-header">{{ repo.owner }}</div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <img src="{{ repo.avatar }}" alt="avatar" class="img-avatar">
                            {{ repo.repo }}
                        </h5>
                        <p class="card-text">{{ repo.description }}</p>
                        <a href="{% url 'downloads:repo_page' repo.owner repo.repo %}" class="btn btn-primary">
                            Go to Repository</a>
                    </div>
                    <div class="card-footer text-muted">
                        Last updated {{ repo.last_mod }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'public/print.html' %}
</div>
</body>
</html>