    /*style="border-radius: 50%; border: 1px solid #ddd; height: 30px; width: 30px;"*/

    .img-avatar {
        border-radius: 50%;
        border: 1px solid #ddd;
        height: 30px;
        width: 30px;
    }
