<header>
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home:index' %}">GSHS TeX</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'home:index' %}">Home</a>
                <a class="nav-link" href="{% url 'downloads:index' %}">Downloads</a>
                <a class="nav-link" href="{% url 'home:about' %}">About</a>
                <a class="nav-link" href="{% url 'home:contact' %}">Contact</a>
            </div>
        </div>
    </div>
</nav>
</header>